/*Azul: RGB: 20 88 170*/
/*Rojo: RGB: 245 0 6*/
/*Plomo: RGB: 131 150 176*/
:root{
    --color-rojo: rgb(245, 0, 6);
    --color-azul: rgb(20, 88, 170);
    --color-gris: rgb(131, 150, 176);
    --space-between-container : 2rem;
}

.header_info{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-azul);
    font-size: 18px;
}

.header_info_contact{
    display: flex;
    padding-left: 50px;
}

.header_info_contact i{
    font-size: 30px;
}

.header_info_contact_phone_number{
    padding-left: 15px;
}

.header_info_contact_phone_number ol{
    list-style-type: none;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

.header_info_contact_phone_number li{
    padding-left: 7px;
}

.header_info_contact_whatsapp_contact{ 
    padding-left: 15px;
}

.header_info_contact_whatsapp_contact ol{
    display: flex;
    list-style-type: none;
    align-items: center;
    letter-spacing: 1px;
}

.header_info_contact_whatsapp_contact li{
    padding-left: 5px;
}

.header_info_follow_us{
    display: flex;
    padding-right: 50px;
    align-items: center;
}

.header_info_follow_us_label{
    letter-spacing: 1px;
}

.header_info_follow_us_socialmediaicon ol{
    list-style-type: none;
    display: flex;
}

.header_info_follow_us_socialmediaicon i{
    font-size: 30px;
}

.header_info_follow_us_socialmediaicon i:hover{
    color: var(--color-rojo);
    cursor: pointer;
}

.header_info_follow_us_socialmediaicon li{
    padding-left: 5px;
}

.header_container{
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
}

.header_container_logo_container{
    display: flex;
    width: 150px;
    height: 120px;
    align-items: center;
    justify-content: flex-start;
}

.header_container_logo_container img{
    max-width: 100%;
    max-height: 100%;
     /* remove extra space below image */
}

.header_container_menu nav a{
    padding-left: 20px;
    text-decoration: none;
    color:rgb(20, 80,170);
    font-size: 25px;
    letter-spacing: 1px;
}

.header_container_menu nav a:hover{
    color: var(--color-plomo);
}

.header_container_icons{
    color: black;
}

.header_container_icons :hover{
    color: var(--color-azul);
}

.slideShowContainer{
    width: 100%;
    height: 700px;
    position: relative; /*Es relative para tomar como referecnai a los demas elementos*/
}

.mySlide img{
    width: 100%;
    height: 100%;
    position: absolute;
}

.textSlide1{
    position: absolute;
    font-size: 70px;
    color: var(--color-rojo);
    bottom: 50%;
    left: 45%;
    transform: translate(-50%, -50%);

    color: var(--color-rojo);
}

.textSlide2{
    position: absolute;
    font-size: 70px;
    color: var(--color-azul);
    bottom: 50%;
    left: 47%;
    transform: translate(50%, -50%);
}


/* The dots/bullets/indicators */
.dot_list{
    position: absolute;
    left: 47%;
    bottom: 10px;

}
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(3, 3, 3);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    padding-left: 5px;
}

.dot_list :hover{
    height: 20px;
    width: 20px;
}

.products{
    height: 500px;
}

.products_title{
    padding-top: 20px;
    text-align: center;
    color: var(--color-rojo);
    letter-spacing: 2px;
}

.products_content{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    letter-spacing: 1px;
}

.products_content_item{
    width: 300px;
    cursor: pointer;
    justify-content: space-around;
    padding-bottom: 10px;
}

.products_content_item img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    /* padding-bottom: 20px; */
}

.products_content_item img:hover{
    opacity: 0.6;
}

.products_content_item a{
    color: var(--color-azul);
    font-size: 19px;

}

.products_content_item a:hover{
    text-decoration: none;
    color: var(--color-plomo)
}

/*Message Company*/

.message_company{
    height: 700px;
    width: 100%;
    display: flex;
}

.message_company_telas{
    width: 50%;
    position: relative;
}

.message_company_telas img{
    width: 100%;
    height: 100%;
}


.message_company_messages{
    width: 50%;
}

.message_company_messages_item img{
    width: 100%;
    height: 100%;
}


.message_company_telas h2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 10px;
    font-size: 50px;
    color: var(--color-azul);
    text-align: center;
}

.message_company_messages{
    position: relative;
}

.message_company_messages_item{
    position: absolute;
    height: 700px;
    width: 100%;
}

.message_company_messages_item{
    position: relative;
}

.message_company_messages_item img{
    width: 100%;
    height: 100%;
}

.message_company_messages_item h2{
    position : absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 10px;
    font-size: 50px;
    color: var(--color-rojo);
    text-align:start;
    text-align: center;
}


/*Nosotros ontainer*/
.nosotros_container{
    width: 100%;
    height: 700px;
    position: relative;
    padding-top: var(--space-between-container);
}

.nosotros_container img{
    height: 100%;
    width: 100%;
}

.nosotros_container_title{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 1px;
    font-size: 60px;
    color: var(--color-rojo);
}

.nosotros_container_description{
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-30%,-10%);
    font-size: 50px;
    color: var(--color-azul);

    text-align: center;
}

/* Space between containers
.space_container{
    background-color: white;
    width: 100%;
    height: 20px;
} */

/*Footer*/
.footer{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--color-azul);
}


.footer_contacts_list{
    list-style-type: none;
    font-size: 25px;
}

.footer_contacts_list_item, .footer_socialmedia_list_item{
    margin-top: 15px;
}

.footer_socialmedia_list_item :hover{
    color: var(--color-rojo);
}

.footer_contacts_list_item i{
    padding-right: 20px;
}


.footer_contacts_title{
    color: var(--color-rojo);
    text-align: center;
    letter-spacing: 1px;
}

.footer_socialmedia_list{
    list-style-type: none;
    font-size: 40px;
    display: flex;
    flex-direction: column;

}


.footer_location{
    align-items: center;
    justify-content: center;
}

/* .footer_contacts_maps{
    padding-right: 20px;
} */

/* Set the size of the div element that contains the map */
#map {
    height: 200px;
    width: 400px;
    border-radius: 20px;
}






.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1;
  }

  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


/*selector that uses frecuently*/
.contact_number{
    color: var(--color-rojo);
    text-decoration: underline;
    cursor: pointer;
}

.contact_number:hover{
    text-decoration: none;
}

label{
    color: rgb(131, 150, 176)
}
body{
    background-color: white;
    margin: 0px;
    display: grid;
    grid-gap: 2rem;
    /* grid-auto-rows: 30px; */
}

